
body {
background-color: white;
color: black;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
.navbar {
background-color: #4C4C4C;
color: white;
padding: 10px;
}
#title {
background-color: grey;
padding: 20px;
text-align: center;
}
a.header {
text-align: center;
text-decoration: none;
display: inline;
color: white;
padding: 20px;
}

img.image1 {
width: 100%;
}
figure.image1 {
background-color: #4C4C4C;
padding: 15px;
width: 50%;
color: white;
}

img.image2 {
width: 100%;
}
figure.image2 {
background-color: #4C4C4C;
padding: 15px;
width: 500px;
color: white;
}

img.image3 {
width: 60%;
}

img.image4 {
width: 50%;
}
figure.image4 {
background-color: #4C4C4C;
padding: 15px;
width: 50%;
color: white;
}

p.figure_description {
padding-top: 100px;
padding-left: 20px;
}

div.images {
background-color: grey;
}

div.flexbox1 {
background-color: white;
width: 50%;
color: black;
}

/*  ebb: These are CSS comments! The following rules style the "picture frame" HTML elements 
 * and help control image size in a way that scales. We made the figure element be 30% of the width of the page.
 * Then we controlled the width of the image **inside** the picture frame of the <figure>: it's allowed to fill 100% of the figure element, but can't get larger than 300 pixels.
 * You can give any element a background-color property, so we are showing how to do it here.  */
 
/*figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}*/

/* Notice how the last rule is written: figure image {properties} . 
 * The rule above controls the <img> element that is contained inside <figure>. 
 * It does not control the size of the <img> that is not inside a <figure>. */